<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"

       xsi:schemaLocation=
               "http://www.springframework.org/schema/beans
               http://www.springframework.org/schema/beans/spring-beans.xsd
                http://www.springframework.org/schema/context
                http://www.springframework.org/schema/context/spring-context.xsd
">



    <!--配置StudentService-->
    <bean id="studentService" class="service.impl.StudentServiceImpl">
<!--                <property name="studentMapper" ref="studentMapper"/>-->
    </bean>

    <!--配置TeacherService-->
    <bean id="teacherService" class="service.impl.TeacherServiceImpl">
        <!--                <property name="studentMapper" ref="studentMapper"/>-->
    </bean>
<!--   &lt;!&ndash;配置StudentDao&ndash;&gt;-->
<!--    <bean id="studentDao" class="Dao.impl.StudentDaoImpl">-->
<!--        -->
<!--    </bean>-->

    <!--3.扫描service和mapper-->
    <context:component-scan base-package="java">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

<!--加载数据源-->
    <context:property-placeholder location="classpath:jdbc.properties"></context:property-placeholder>

    <!--配置数据源-->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${jdbc.driver}"/>
        <property name="jdbcUrl" value="${jdbc.url}"/>
        <property name="user" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>


    <bean id="sqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"></property>
        
        <property name="configLocation" value="classpath:sqlMapConfig-spring.xml"></property>
    </bean>


    <!--扫描mapper所在的包 为mapper创建实现类-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="mapper"></property>
    </bean>






</beans>