<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.StudentMapper">

    <!--查找学生登录是否合格-->
    <select id="findStu" parameterType="Model.Student" resultType="Model.Student">

        select * from student where student_num=#{student_num} and password=#{password}
    </select>

    <!--查找学生班级信息-->
    <select id="findClass" parameterType="Model.Student" resultType="Model.Student">

        select * from student where bj_nb=#{bj_nb}
    </select>

    <!--查找学生个人详细信息-->
    <select id="findItem"  parameterType="Model.Student" resultType="Model.Student">

        select * from student where student_num=#{student_num}
    </select>

    <!--查找班级课表-->
    <select id="findCourse"  parameterType="Model.Student" resultType="Model.Bjks">

        select * from bjks_data where bj_nb=#{bj_nb}
    </select>

    <!--查找班级上课地点-->
    <select id="findClasspot"  parameterType="Model.JS" resultType="Model.JS">

        select * from js_data where js_nb=#{js_nb}
    </select>

    <!--修改学生个人资料-->
    <select id="updateStudent" parameterType="Model.Student">
        update student set student_name=#{student_name},student_email=#{student_email},student_registration=#{student_registration} where student_num=#{student_num}
    </select>


</mapper>